@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

nav{
	display: flex;
	width: 100%;
	background: #679D62;
	position: relative;
	justify-content: space-between;
	text-align: center;
	padding: 15px 30px;

}
nav .icon{
	font-size: 35px;
	font-weight: 800;
	color: #ffffff;
	cursor: pointer;

}
nav ol{
	display: flex;
	list-style: none;
	margin: auto 0;

}
nav ol li{
	margin: 0 2px;
}
nav ol li a{
	color: #000;
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 1px;
	padding:  5px 10px;
}
nav ol li:hover a{
	background: var(--orange);
	color: #d8ea90;
}
nav .search_box{
	display: flex;
	margin: auto 0;
	height: 35px;
	line-height: 35px;


}
nav .search_box input{
	border: none;
	outline: none;
	background: #ffff;
	height: 100%;
	padding: 0 10px;
	font-size: 20px;
	width: 350px;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;


}
nav .search_box span{
	color: #0a5071;
	font-size: 20px;
	background: #ffffff;
	height: 100%;
	padding: 8px;
	position: relative;
	cursor: pointer;
	z-index: 1;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;

}
/*nav .search_box span::hover{
	color: red;
}
nav .search_box span::after{
	height: 100%;
	width: 100%;
	content: '';
	position: relative;
	top: 0;
	z-index: -1;
	transition: 0.3s;
	color: red;
}
nav .search_box span::hover::after{
	width: 100%;
}*/
nav .bar{
	position: relative;
	margin: auto;
	display: none;
}
nav .bar span{
	position: absolute;
	color: #fff;
	font-size: 35px;

}
input[type="checkbox"]{
	-webkit-appearance: none;
	display: none;

}
@media screen and (max-width:  1250px){
	nav{
		display: block;
		padding: 0;
	}
	nav .icon{
		display: inline-block;
		padding:  15px 30px;
	}
	nav .search_box{
		width: 100%;
		display: inline-flex;
		justify-content: center;
		margin-bottom: 15px;
	}
	nav .search_box input{
		width: 90%;
	}
	nav ol{
		display: flex;
		flex-direction: column;
		background: #ffff;
		height: 0;
		visibility: hidden;
		transition: 0.3s;
	}
	nav ol li{
		text-align: center;
		/*transition: 0.3s 0.1s all;
		opacity: 0;*/

	}
	nav ol li a{
		color: #000;
		font-size: 28px;
		padding: 10px;
		display: block;
	}
	nav .bar{
		display: block;
		position: absolute;
		top: 20px;
		right: 80px;
		cursor: pointer;
	}
	nav .bar #times{
		display: none;
	}
	#check:checked ~ nav .bar #times{
		display: block;
	}
	#check:checked ~ nav .bar #bars{
		display: none;
	}
	#check:checked ~ nav ol{
		visibility: visible;
		height: 465px;
	}
}

/*footer start*/
.container1{
	max-width: 1170px;
	margin:auto;
	}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #679D62;
  padding: 50px 0;
  margin-top: 10%;
}
.footer-col{
	margin-left: 6%;
  width: 27%;
  padding: 0 15px;
}
.footer-col h4{
	font-size: 23px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 20px;
	/*font-weight: 500;*/
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	/*bottom: -10px;*/
	height: 2px;
	box-sizing: border-box;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffff;
	display: block;
	transition: all 0.3s ease;
	margin-left: -10%;
	position: relative;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 37px;
	width: 37px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
	}
}
/*type of menu*/
.mlink {
	text-decoration: none !important;
	color: black;
}
.mlink:hover{
	color: #FF8C05 !important;
}

.section{
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #D9D9D9;
	width: 95%;
	min-height: 80vh;
	background-color: white;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 30px;
}
.content-section{
	float: right;
	width: 45%;
	margin-top: 13%;
	font-style: bold;
}
.image-section{
	float: left;
	width: 50%;
}
.image-section img{
	width: 90%;
	border-radius: 30px;
	height: 50%;
	margin-left: 7%;
	margin-top: 7%;
}
.content-section .title{
	font-size: 10px;
	text-transform: uppercase;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 11px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Exo;
}
@font-face {
  font-family: Exo;
  src: url(./fonts/Exo2.0-Medium.otf);
}*/

.title2{
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
}
.main{
	padding-top: 80px; 
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main2{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card{
  position: relative;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
}
.profile-card:hover{
  border-radius: 10px;
  height: 260px;
}
.profile-card .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}
.profile-card:hover .img{
  transform: translateY(-70px);
}
.img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}
.profile-card:hover img{
  border-radius: 10px;
}
.caption{
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}
.profile-card:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 15px;
}
.caption p{
  font-size: 16px;
  color: #0c52a1;
  margin: 2px 0 9px 0;
}
.caption .social-links a{
  color: #333;
  margin-right: 8px;
  font-size: 21px;
  transition: .6s;
}
.social-links a:hover{
  color: #0c52a1;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;

}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}