@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav{
	display: flex;
	width: 100%;
	background: #679d62;
	position: relative;
	justify-content: space-between;
	text-align: center;
	padding: 15px 30px;

}
nav .icon{
	font-size: 35px;
	font-weight: 800;
	color: #ffffff;
	cursor: pointer;

}
nav ol{
	display: flex;
	list-style: none;
	margin: auto 0;

}
nav ol li{
	margin: 0 2px;
}
nav ol li a{
	color: #000;
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 1px;
	padding:  5px 10px;
}
nav ol li:hover a{
	background: var(--orange);
	color: #d9e883;
}
nav .search_box{
	display: flex;
	margin: auto 0;
	height: 35px;
	line-height: 35px;


}
nav .search_box input{
	border: none;
	outline: none;
	background: #ffff;
	height: 100%;
	padding: 0 10px;
	font-size: 20px;
	width: 350px;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;


}
nav .search_box span{
	color: #0a5071;
	font-size: 20px;
	background: #fff;
	height: 100%;
	padding: 8px;
	position: relative;
	cursor: pointer;
	z-index: 1;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;

}
/*nav .search_box span::hover{
	color: red;
}
nav .search_box span::after{
	height: 100%;
	width: 100%;
	content: '';
	position: relative;
	top: 0;
	z-index: -1;
	transition: 0.3s;
	color: red;
}
nav .search_box span::hover::after{
	width: 100%;
}*/
nav .bar{
	position: relative;
	margin: auto;
	display: none;
}
nav .bar span{
	position: absolute;
	color: #fff;
	font-size: 35px;

}
input[type="checkbox"]{
	-webkit-appearance: none;
	display: none;

}
@media screen and (max-width:  1250px){
	nav{
		display: block;
		padding: 0;
	}
	nav .icon{
		display: inline-block;
		padding:  15px 30px;
	}
	nav .search_box{
		width: 100%;
		display: inline-flex;
		justify-content: center;
		margin-bottom: 15px;
	}
	nav .search_box input{
		width: 90%;
	}
	nav ol{
		display: flex;
		flex-direction: column;
		background: #ffff;
		height: 0;
		visibility: hidden;
		transition: 0.3s;
	}
	nav ol li{
		text-align: center;
		/*transition: 0.3s 0.1s all;
		opacity: 0;*/

	}
	nav ol li a{
		color: #000;
		font-size: 28px;
		padding: 10px;
		display: block;
	}
	nav .bar{
		display: block;
		position: absolute;
		top: 20px;
		right: 80px;
		cursor: pointer;
	}
	nav .bar #times{
		display: none;
	}
	#check:checked ~ nav .bar #times{
		display: block;
	}
	#check:checked ~ nav .bar #bars{
		display: none;
	}
	#check:checked ~ nav ol{
		visibility: visible;
		height: 465px;
	}
}
/* /footer start/ */
.container1{
	max-width: 1170px;
	margin:auto;
	}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #679d62;
  padding: 50px 0;
  margin-top: 10%;
}
.footer-col{
	margin-left: 6%;
  width: 27%;
  padding: 0 15px;
}
.footer-col h4{
	font-size: 23px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 20px;
	/* /font-weight: 500;/ */
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	/* /bottom: -10px;/ */
	height: 2px;
	box-sizing: border-box;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 37px;
	width: 37px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* /responsive/ */
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
	}
}
/* /type of menu/ */
.mlink {
	text-decoration: none !important;
	color: black;
}
.mlink:hover{
	color: #FF8C05 !important;
}
.carousel {
  width:600px;
  height:400px;
}


/* notification body */

.cardbox {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 100px;
    width: 30rem;
    transition: 0.3s;
    margin-left: 30%;
    margin-top: 3%;
    border-radius: 10px;
    
   
  }
  .adminlogbtn{
    margin-top:5px;
  }
  /* On mouse-over, add a deeper shadow */
  .cardbox:hover {
    background-color: #f7d6b0;
    color: #00109e;
  }
  
  /* Add some padding inside the card container */
  .containerform {
    padding: 2px 16px;
    display: none;
    position: fixed;
  }
  input[type=text], select, textarea{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }
    
    /* Style the label to display next to the inputs */
    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    
    /* Style the submit button */
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }
    
    /* Style the container */
    .containerform {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 15px;
      height: fit-content;
      width: 700px;
    }
    
    /* Floating column for labels: 25% width */
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }
    
    /* Floating column for inputs: 75% width */
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
    .padding-table-columns th
    {
        padding:0 20px 0 0; /* Only right padding*/
    }