@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav{
	display: flex;
	width: 100%;
	background: #679d62;
	position: relative;
	justify-content: space-between;
	text-align: center;
	padding: 15px 30px;

}
nav .icon{
	font-size: 35px;
	font-weight: 800;
	color: #ffffff;
	cursor: pointer;

}
nav ol{
	display: flex;
	list-style: none;
	margin: auto 0;

}
nav ol li{
	margin: 0 2px;
}
nav ol li a{
	color: #000;
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 1px;
	padding:  5px 10px;
}
nav ol li:hover a{
	background: var(--orange);
	color: #e8e193;
}
nav .search_box{
	display: flex;
	margin: auto 0;
	height: 35px;
	line-height: 35px;


}
nav .search_box input{
	border: none;
	outline: none;
	background: #ffff;
	height: 100%;
	padding: 0 10px;
	font-size: 20px;
	width: 350px;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;


}
nav .search_box span{
	color: #0a5071;
	font-size: 20px;
	background: #fff;
	height: 100%;
	padding: 8px;
	position: relative;
	cursor: pointer;
	z-index: 1;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;

}
/*nav .search_box span::hover{
	color: red;
}
nav .search_box span::after{
	height: 100%;
	width: 100%;
	content: '';
	position: relative;
	top: 0;
	z-index: -1;
	transition: 0.3s;
	color: red;
}
nav .search_box span::hover::after{
	width: 100%;
}*/
nav .bar{
	position: relative;
	margin: auto;
	display: none;
}
nav .bar span{
	position: absolute;
	color: #fff;
	font-size: 35px;

}
input[type="checkbox"]{
	-webkit-appearance: none;
	display: none;

}
@media screen and (max-width:  1250px){
	nav{
		display: block;
		padding: 0;
	}
	nav .icon{
		display: inline-block;
		padding:  15px 30px;
	}
	nav .search_box{
		width: 100%;
		display: inline-flex;
		justify-content: center;
		margin-bottom: 15px;
	}
	nav .search_box input{
		width: 90%;
	}
	nav ol{
		display: flex;
		flex-direction: column;
		background: #ffff;
		height: 0;
		visibility: hidden;
		transition: 0.3s;
	}
	nav ol li{
		text-align: center;
		/*transition: 0.3s 0.1s all;
		opacity: 0;*/

	}
	nav ol li a{
		color: #000;
		font-size: 28px;
		padding: 10px;
		display: block;
	}
	nav .bar{
		display: block;
		position: absolute;
		top: 20px;
		right: 80px;
		cursor: pointer;
	}
	nav .bar #times{
		display: none;
	}
	#check:checked ~ nav .bar #times{
		display: block;
	}
	#check:checked ~ nav .bar #bars{
		display: none;
	}
	#check:checked ~ nav ol{
		visibility: visible;
		height: 465px;
	}
}
/*footer start*/
.container1{
	max-width: 1170px;
	margin:auto;
	}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #679d62;
  padding: 50px 0;
  margin-top: 10%;
}
.footer-col{
	margin-left: 6%;
  width: 27%;
  padding: 0 15px;
}
.footer-col h4{
	font-size: 30px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 20px;
	/*font-weight: 500;*/
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	/*bottom: -10px;*/
	height: 2px;
	box-sizing: border-box;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffff;
	display: block;
	transition: all 0.3s ease;
    margin-left: -10%;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 37px;
	width: 37px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
	}
}
/*type of menu*/
.mlink {
	text-decoration: none !important;
	color: black;
}
.mlink:hover{
	color: #FF8C05 !important;
}
.carousel {
  width:600px;
  height:400px;
}

/*menu start for fastfood*/
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.menu .box-container::-webkit-scrollbar {
    display: none;
}
.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu .box-container .box .image .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu h3{
		color:gray;
    font-size: 1rem;
    margin-left: 7%;
}

/*menu end*/

/*menu start for meals*/
.menu2 .box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.menu .box-container2::-webkit-scrollbar {
    display: none;
} 

.menu2 .box-container2 .box2{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu2 .box-container2 .box2 .image2{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu2 .box-container2 .box2 .image2 .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu2 h3{
		color:gray;
    font-size: 1rem;
    margin-left: 7%;
    margin-top: 13%;
}

/*menu end*/
/*menu start for fastfood*/
.menu3 .box-container3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.menu .box-container3::-webkit-scrollbar {
    display: none;
}

.menu3 .box-container3 .box3{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu3 .box-container3 .box3 .image3{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu3 .box-container3 .box3 .image3 .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu3 h3{
    color:gray;
    font-size: 1rem;
    margin-left: 7%;
}

/*menu end*/

/*menu start for fastfood*/
.menu4 .box-container4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.menu .box-container4::-webkit-scrollbar {
    display: none;
}

.menu4 .box-container4 .box4{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu4 .box-container4 .box4 .image4{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu4 .box-container4 .box4 .image4 .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu4 h3{
    color:gray;
    font-size: 1rem;
    margin-left: 7%;
}

/*menu end*/
/*menu start for fastfood*/
.menu5 .box-container5{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.menu .box-container5::-webkit-scrollbar {
    display: none;
}

.menu5 .box-container5 .box5{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu5 .box-container5 .box5 .image5{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu5 .box-container5 .box5 .image5 .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu5 h3{
    color:gray;
    font-size: 1rem;
    margin-left: 7%;
    margin-top: 13%;
}

/*menu end*/


/*adminlog start*/
.admin .box-container_admin{
    display: grid;
    grid-template-columns: 70%;
    gap:1.5rem;
    margin-left: 23%;
    margin-top: 7%;

    
}

.admin .box-container_admin .box_admin{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.5);
    border-radius: .9rem;
    box-shadow: var(--box-shadow);    
}

.admin .box-container_admin .box_admin .admin_log{
    height: 30rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}
.admin h3{
		color:black;
    font-size: 1rem;
    text-align: center;
}

/*adminlog end*/




.card-container {
    max-width: 1000rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-gap: 1rem;
    margin-left: 7%;
    position: relative;
}

.card1 {
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 19rem;
    height: 25.5rem;
    border-radius: .5rem;
}
.card2 {
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 19rem;
    height: 25.5rem;
    border-radius: .5rem;
}

.card3 {
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 19rem;
    height: 25.5rem;
    border-radius: .5rem;
}

.card__header {
    position: absolute;
}

.card__picture {
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    height: 20rem;
    width: 19rem;
}

/* .card__picture-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear,
            left top,
            right bottom,
            from(#7dd56f),
            to(#28b487));
    background-image: linear-gradient(to right bottom, #9cbbed, #4caed2);
    opacity: 0.7;
} */

.card__picture-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 80%;
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.card__details {
    display: contents;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    padding: .2rem 3rem;
}

.card__sub-heading {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: -7rem;
    font-weight: 700;
    grid-column: 1 / -1;
}

.card__text {
    grid-column: 1 / -1;
    font-size: 1rem;
    font-style: bold;
    margin-top: -7rem;
    margin-bottom: 0.75rem;
    margin-right: 40px;
}

/* .card__data {
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__data svg {
    margin-right: 0.7rem;
}

.card__icon {
    height: 2rem;
    width: 2rem;
    fill: #55c57a;
} */

.card__footer {
    background-color: #FF8C05;
    padding: 2.5rem 3rem;
    border-top: 1px solid #f1f1f1;
    font-size: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: auto;
    height: 10rem;
    align-items: left;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.card__footer-value {
    font-weight: 700;
}

.card__footer-text {
    color: #999;
}

.card__ratings {
    grid-row: 2 / 3;
}

.card1 .btn-small,
.card1 .addTocard {
    grid-row: 1 / 3;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 4rem;
    float: right;
    justify-items: center;
    background-color: #FF8C05;
   
}

.card2 .btn-small,
.card2 .addTocard {
    grid-row: 1 / 3;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 4rem;
    float: right;
    justify-items: center;
    background-color: #FF8C05;
   
}

.card .btn-small,
.card3 .addTocard {
    grid-row: 1 / 3;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 4rem;
    float: right;
    justify-items: center;
    background-color: #FF8C05;
}















