@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav{
	display: flex;
	width: 100%;
	background: #679D62;
	position: relative;
	justify-content: space-between;
	text-align: center;
	padding: 15px 30px;

}
nav .icon{
	font-size: 35px;
	font-weight: 800;
	color: #ffffff;
	cursor: pointer;

}
nav ol{
	display: flex;
	list-style: none;
	margin: auto 0;

}
nav ol li{
	margin: 0 2px;
}
nav ol li a{
	color: #000;
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 1px;
	padding:  5px 10px;
}
nav ol li:hover a{
	background: var(--orange);
	color: #efefa5;
}
nav .search_box{
	display: flex;
	margin: auto 0;
	height: 35px;
	line-height: 35px;


}
nav .search_box input{
	border: none;
	outline: none;
	background: #ffff;
	height: 100%;
	padding: 0 10px;
	font-size: 20px;
	width: 350px;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;


}
nav .search_box span{
	color: #0a5071;
	font-size: 20px;
	background: #fff;
	height: 100%;
	padding: 8px;
	position: relative;
	cursor: pointer;
	z-index: 1;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;

}
/*nav .search_box span::hover{
	color: red;
}
nav .search_box span::after{
	height: 100%;
	width: 100%;
	content: '';
	position: relative;
	top: 0;
	z-index: -1;
	transition: 0.3s;
	color: red;
}
nav .search_box span::hover::after{
	width: 100%;
}*/
nav .bar{
	position: relative;
	margin: auto;
	display: none;
}
nav .bar span{
	position: absolute;
	color: #fff;
	font-size: 35px;

}
input[type="checkbox"]{
	-webkit-appearance: none;
	display: none;

}
@media screen and (max-width:  1250px){
	nav{
		display: block;
		padding: 0;
	}
	nav .icon{
		display: inline-block;
		padding:  15px 30px;
	}
	nav .search_box{
		width: 100%;
		display: inline-flex;
		justify-content: center;
		margin-bottom: 15px;
	}
	nav .search_box input{
		width: 90%;
	}
	nav ol{
		display: flex;
		flex-direction: column;
		background: #ffff;
		height: 0;
		visibility: hidden;
		transition: 0.3s;
	}
	nav ol li{
		text-align: center;
		/*transition: 0.3s 0.1s all;
		opacity: 0;*/

	}
	nav ol li a{
		color: #000;
		font-size: 28px;
		padding: 10px;
		display: block;
	}
	nav .bar{
		display: block;
		position: absolute;
		top: 20px;
		right: 80px;
		cursor: pointer;
	}
	nav .bar #times{
		display: none;
	}
	#check:checked ~ nav .bar #times{
		display: block;
	}
	#check:checked ~ nav .bar #bars{
		display: none;
	}
	#check:checked ~ nav ol{
		visibility: visible;
		height: 465px;
	}
}
/*footer start*/
.container1{
	max-width: 1170px;
	margin:auto;
	}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:#679D62;
  padding: 50px 0;
  margin-top: 10%;
}
.footer-col{
	margin-left: 6%;
  width: 27%;
  padding: 0 15px;
}
.footer-col h4{
	font-size: 23px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 20px;
	/*font-weight: 500;*/
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	/*bottom: -10px;*/
	height: 2px;
	box-sizing: border-box;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffff;
	display: block;
	transition: all 0.3s ease;
	margin-left: -10%;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 37px;
	width: 37px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
	}
}
/*type of menu*/
.mlink {
	text-decoration: none !important;
	color: black;
}
.mlink:hover{
	color: #FF8C05 !important;
}
.carousel {
  width:600px;
  height:400px;
}

/*menu start for fastfood*/
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
}

.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu .box-container .box .image .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu h3{
		color:gray;
    font-size: 1rem;
    margin-left: 7%;
}

/*menu end*/

/*menu start for meals*/
.menu2 .box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
/*    margin-top: 13%;*/
}

.menu2 .box-container2 .box2{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu2 .box-container2 .box2 .image2{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu2 .box-container2 .box2 .image2 .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu2 h3{
		color:gray;
    font-size: 1rem;
    margin-left: 7%;
    margin-top: 13%;
}

/*menu end*/
/*menu start for fastfood*/
.menu3 .box-container3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
}

.menu3 .box-container3 .box3{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu3 .box-container3 .box3 .image3{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu3 .box-container3 .box3 .image3 .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu3 h3{
    color:gray;
    font-size: 1rem;
    margin-left: 7%;
}

/*menu end*/

/*menu start for fastfood*/
.menu4 .box-container4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
}

.menu4 .box-container4 .box4{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu4 .box-container4 .box4 .image4{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu4 .box-container4 .box4 .image4 .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu4 h3{
    color:gray;
    font-size: 1rem;
    margin-left: 7%;
}

/*menu end*/
/*menu start for fastfood*/
.menu5 .box-container5{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0fr));
    gap:1.5rem;
    margin-left: 7%;
}

.menu5 .box-container5 .box5{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu5 .box-container5 .box5 .image5{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/*.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}*/
.menu5 .box-container5 .box5 .image5 .fa-plus{
    position: absolute;
    top:9rem; right: 6rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    background: #B0ADAD;
    border-radius: 50%;
    color:#ffff;
}
.menu5 h3{
    color:gray;
    font-size: 1rem;
    margin-left: 7%;
    margin-top: 13%;
}

/*menu end*/


/*adminlog start*/
.admin .box-container_admin{
    display: grid;
    grid-template-columns: 70%;
    gap:1.5rem;
    margin-left: 23%;
    margin-top: 7%;

    
}

.admin .box-container_admin .box_admin{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.5);
    border-radius: .9rem;
    box-shadow: var(--box-shadow);    
}

.admin .box-container_admin .box_admin .admin_log{
    height: 30rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}
.admin h3{
		color:black;
    font-size: 1rem;
    text-align: center;
}

/*adminlog end*/

.wrapper {
	padding-top: 30px;
	max-width: 1000px;
	margin: 0 auto;
}
.wrapper h1 {
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}
.project {
	display: flex;
}
.shop {
	flex: 75%;
}

.header{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.Radio{
	padding-top: 20px;
 padding-left: 20px;
}
.box {
	display: flex;
	width: 90%;
	height: 170px;
	overflow: hidden;
	margin-bottom: 20px;
	background: #D9D9D9;
	transition: all .6s ease;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.increbtn{
	height: 30px;
}

.box:hover {
	border: none;
	transform: scale(1.01);
}
.box img {
	width: 300px;
	height: 170px;
	object-fit: cover;
}
.content {
	padding: 20px;
	width: 100%;
	position: relative;
}
.content h3 {
	margin-bottom: 30px;
}
.content h4 {
	margin-bottom: 15px;
	color: #FA5757;
}
.btn-area {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: #FF8C05;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}
.btn-area:hover {
	background-color: #76bfb6;
	color: #fff;
	font-weight: 600;
}
.unit input {
	width: 40px;
	padding: 5px;
	text-align: center;
}
.btn-area i {
	margin-right: 5px;
}
.right-bar {
	flex: 25%;
	margin-left: 20px;
	padding: 20px;
	height: 200px;
	border-radius: 5px;
	background: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right-bar hr {
	margin-bottom: 25px;
}
.right-bar p {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}
/* .right-bar a {
	background-color: #FF8C05;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-weight: 900;
} */
.right-bar i {
	margin-right: 15px;
}
/* .right-bar button:hover {
	background-color: #3972a7;
} */
@media screen and (max-width: 700px) {
	.content h3 {
		margin-bottom: 15px;
	}
	.content h4 {
		margin-bottom: 20px;
	}
	.btn2 {
		display: none;
	}
	.box {
		height: 150px;
	}
	.box img {
		height: 150px;
		width: 200px;
	}
}
@media screen and (max-width: 900px) {
	.project {
		flex-direction: column;
	}
	.right-bar {
		margin-left: 0;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 1250px) {
	.wrapper {
		max-width: 95%;
	}
}

