  /* Add some padding inside the card container */
  body{
    background-image: url(../img/bbk.jpeg);
  }
  .containers {
    padding: 2px 16px;
    position: relative;
    margin-left: 30%;
    margin-top: 10%;
  }
  input[type=text], select, textarea{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }
    
    /* Style the label to display next to the inputs */
    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    
    /* Style the submit button */
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }
    
    /* Style the container */
    .containers {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 15px;
      height: fit-content;
      width: 700px;
    }
    
    /* Floating column for labels: 25% width */
    .col-25 {
      float: left;
      width: 15%;
      margin-top: 6px;
    }
    
    /* Floating column for inputs: 75% width */
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
    .padding-table-columns th
    {
        padding:0 20px 0 0; /* Only right padding*/
    }