*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bbk.jpeg);
    background-size: cover;
}

.first{
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);*/
    /* width: 100%; */
    max-width: 800px;
    max-height: 850px;
    /* background: linear-gradient(255deg,rgba(255,255,255,0.9) 50%, transparent 50%),
    url("/img/iteria.jpg"); */
    justify-content: center;
    align-items: center;
    padding: 28px;
    margin: 0 28px;
    background-repeat: no-repeat;
    background-size: 800px 850px;

}
.container{
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%); */
    width: 100%;
    max-width: 550px;
    background: #679D62;
    padding: 28px;
    margin: 0 28px;
    
    opacity: 0.93;
    border-radius: 10%;

      /*  border-radius: 10px;*/
/*    box-shadow: inset -2px 2px 2px gray;*/
}
.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
   /* border-bottom: solid 1px white;*/
}
.form-title1{
    font-size: 26px;
    font-weight: 600;
    margin-top: 70px;
    text-align: center;
    padding-bottom: 6px;
    color: white;
   /* border-bottom: solid 1px white;*/
}
.form{
    font-size: 17px;
    font-weight: 600;
    /*margin-left: 142px;*/
    text-align: center;
    padding-bottom: 6px;
    color: white;
    /*border-bottom: solid 1px white;*/
}
.s{
    /*margin-left: 142px;*/
    justify-content: center;
    padding-bottom: 100px;
    color: white;
    /*border-bottom: solid 1px white;*/
}
.form1{
    font-size: 15px;
    font-weight: 300;
    margin-top: 50px;
    margin-left: 70px;
    text-align: center;
    padding-bottom: 38px;
    color: white;
    /*border-bottom: solid 1px white;*/
}
.form2{
    font-size: 15px;
    font-weight: 400;
    margin-left: 75px;
    text-align: center;
   /* padding-bottom: 20px;*/
    color: white;
    
    /*border-bottom: solid 1px white;*/
}
.form3{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10%;
    margin-left: 75px;
    text-align: center;
   /* padding-bottom: 20px;*/
    color: white;
    
    /*border-bottom: solid 1px white;*/
}
.main-user-info{
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 20px 80px;
}
/*.user-input-box:nth-child(2n){
    justify-content: end;
}*/
.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}
.user-input-box select{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}
/*.form-submit-btn{
    margin-top: 1px;
}
*/
.form-submit-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 17px;
    padding: 5px;
    border:none;
    
 
    
}






@media(max-width: 600px){
    .first{
        min-width: 280px;
    }
    .container{
        min-width: 280px;
        margin-left: auto;


    }
    .title{
        width: 30%;
    }
    .form{
        text-align: center;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    

/*    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }*/

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
    
}
@media(max-width: 887px){
    .first{
        min-width: 280px;
    }
    .container{
        min-width: 280px;
        margin-left: auto;


    }
    .title{
        width: 30%;
    }
    .form{
        text-align: center;
    }
    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

/*    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }*/

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}
@media(max-width: 300px){
    .first{
        min-width: 280px;
    }
    .container{
        min-width: 280px;
        margin-left: auto;


    }
    .title{
        width: 30%;
    }
    .form{
        text-align: center;
    }
    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

/*    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }*/

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}

.img-area {
	position: relative;
	width: 100%;
	height: 200px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}