*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(210, 232, 191);
    background-size: cover;
}

.first{
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);*/
    /* width: 100%; */
    max-width: 800px;
    max-height: 850px;
    background: linear-gradient(255deg,rgba(210, 232, 191,0.8) 50%, transparent 50%),
    url("/img/iteria.jpg");
    justify-content: center;
    align-items: center;
    padding: 28px;
    margin: 0 28px;
    background-repeat: no-repeat;
    background-size: 800px 800px;

}
.title{
    font-size: 27px;
    font-weight: 600;
    font-family: POPPINS;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    text-orientation: fixed;
    background: #679D62;
    width: 15%;
    clip-path: polygon(0 0, 79% 0, 100% 100%, 0% 100%);
    /*border-bottom: solid 1px white;*/
}
.container{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    width: 100%;
    max-width: 550px;
    background:  #679D62;
    padding: 28px;
    margin: 0 28px;
    margin-left: 220px;
    opacity: 0.93;

      /*  border-radius: 10px;*/
/*    box-shadow: inset -2px 2px 2px gray;*/
}
.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
   /* border-bottom: solid 1px white;*/
}
.form-title1{
    font-size: 30px;
    font-weight: bolder;
    font-family: Poppins;
    margin-top: 70px;
    text-align: center;
    padding-bottom: 6px;
    color: white;
   /* border-bottom: solid 1px white;*/
}
.form{
    font-size: 17px;
    font-weight: 600;
    /*margin-left: 142px;*/
    text-align: center;
    padding-bottom: 6px;
    color: white;
    /*border-bottom: solid 1px white;*/
}
.s{
    /*margin-left: 142px;*/
    justify-content: center;
    padding-bottom: 100px;
    color: white;
    /*border-bottom: solid 1px white;*/
}
.form1{
    font-size: 15px;
    font-weight: 300;
    margin-top: 50px;
    margin-left: 70px;
    text-align: center;
    padding-bottom: 38px;
    color: white;
    /*border-bottom: solid 1px white;*/
}
.form2{
    font-size: 15px;
    font-weight: 400;
    margin-left: 75px;
    text-align: center;
   /* padding-bottom: 20px;*/
    color: white;
    
    /*border-bottom: solid 1px white;*/
}
.form3{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10%;
    margin-left: 75px;
    text-align: center;
   /* padding-bottom: 20px;*/
    color: white;
    
    /*border-bottom: solid 1px white;*/
}
.main-user-info{
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 20px 80px;
}
/*.user-input-box:nth-child(2n){
    justify-content: end;
}*/
.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(202, 202, 202);
    padding: 0 10px;
}
.user-input-box select{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(95, 93, 93);
    padding: 0 10px;
}
/*.form-submit-btn{
    margin-top: 1px;
}
*/
.form-submit-btn input{
    display: block;
    width: 20%;
    margin-top: 10px;
    margin-left: 45%;
    font-size: 17px;
    padding: 5px;
    border:none;
    border-radius: 6px;
    color: black;
    background: white;
}

.form-submit-btn input:hover{
    background: rgb(6, 43, 1);
    color: black;
}
.form-submit-btn1 input{
    display: block;
    width: 20%;
    margin-top: 10px;
    margin-left: 46%;
    font-size: 20px;
    padding: 5px;
    border:none;
    border-radius: 6px;
    color: black;
    background: white;
}

.form-submit-btn1 input:hover{
    background: rgb(104, 96, 96);
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

@media(max-width: 600px){
    .first{
        min-width: 280px;
    }
    .container{
        min-width: 280px;
        margin-left: auto;


    }
    .title{
        width: 30%;
    }
    .form{
        text-align: center;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

/*    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }*/

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}
@media(max-width: 887px){
    .first{
        min-width: 280px;
    }
    .container{
        min-width: 280px;
        margin-left: auto;


    }
    .title{
        width: 30%;
    }
    .form{
        text-align: center;
    }
    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

/*    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }*/

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}
@media(max-width: 300px){
    .first{
        min-width: 280px;
    }
    .container{
        min-width: 280px;
        margin-left: auto;


    }
    .title{
        width: 30%;
    }
    .form{
        text-align: center;
    }
    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

/*    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }*/

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}